header {
  color: #ffffff;
  font-family: cursive;
  background: #211718;
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
  grid-gap: 30px;
}

aside {
  background: #590008;
}

article {
 background: #F4E6E7;
}

footer {
  background: #211718;
  color: #ffffff;
}
